<!-- page  -->
<div class="page_head1">
    <div class="row">
        <div class="col-md-7">
            <h5>Normal User Accounts</h5>
          </div>
          <div class="col-md-5 text-right">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a ng-reflect-router-link="vns/dashboard" href="vns/dashboard">Home</a>
                      </li><li aria-current="page" class="breadcrumb-item active">Normal User Accounts </li>
                  </ol></nav></div>
              </div></div>

<div class="gride_m1">

    <div class="row mb-20">
       
        <div class="col-sm-2">
            <button class="btn btn_m2 " data-toggle="modal" data-target="#exampleModal">Create New user</button>
        </div>
        <div class="form-group form-group-search col-md-3 offset-sm-7">
            <label class="sr-only">Search</label>
            <input type="search" class="form-control" value="" name="search" placeholder="Search..." (input)="searchList($event)">
        </div>
    </div>
    
    <div class="table_m4">
<table  class="table">
  <thead>
      <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Total</th>
          <th>Used</th>
          <th>Balance</th>
          <!-- <th>ID</th> -->
          <th>History</th>
          <th>Credits</th>
          <!-- <th>Login</th> -->
      </tr>
  </thead>
  <tbody>
       <div style="margin-top: 20%;" *ngIf="showSpinner" class="d-flex justify-content-center">
         <div style="width: 2rem;height: 2rem;" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
      </div>
   <tr *ngFor="let data of accountsList | paginate: {itemsPerPage: 10,  currentPage: currentPage,  totalItems: totalCount } let i= index">
       <td>{{i+1}}</td>
       <td>{{data.username}}</td>
       <td>{{data.phone}}</td>
       <td>{{data.total_credits}}</td>
       <td>{{data.used_credits}}</td>
       <td>{{data.balance_credits}}</td>
       <td><a [routerLink]="['../credit-history', data.id]" >view History </a></td>
       <td (click)="getUserData(data.id)" style="cursor: pointer;">+ Credits</td>
   </tr>
     
  </tbody>
 
</table>
</div>
<div class="custom_pag_m1" *ngIf="totalCount > 5">
    <pagination-controls (pageChange)="pageChanged($event,filters)" class="pagination custom_pagi"></pagination-controls>
</div>
<!-- page -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Normal user </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup] ="addUserForm" (ngSubmit)="onSubmit(addUserForm.value)">

            <div class="">
                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="username" type="text" formControlName="username" >
                        <label for="username">Username</label>
                        </div>
                        <div *ngIf="submitted && f.username.errors" class="">
                            <div *ngIf="f.username.errors.required" class="error_m1">Username is required</div>
                        </div>
                </div>

                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="email"  type="text" formControlName="email" >
                        <label for="email">Email</label>
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="error_m1">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                </div>


                <div class="col-sm-12 ">
                    <div class="formInputArea phone_num">
                        <select name="" id="" class="sel_m3">
                            <option value="+91">+91</option>
                            <option value="+1">+1</option>
                          </select>
                        <input placeholder="mobile" type="text" formControlName="mobile" >
                        <label for="mobile">Mobile</label>
                        </div>

                        <div *ngIf="submitted && f.mobile.errors" class="error_m1">
                            <div *ngIf="f.mobile.errors.required">Phone is required</div>
                            <div *ngIf="f.mobile.errors.minlength">
                                Phone must be at least 10 numbers.
                             </div>
                             <div *ngIf="f.mobile.errors.maxlength">
                                Phone can be max 10 numbers.
                             </div>
                            </div>
                        </div>


                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="orgnaization" type="text" formControlName="orgnaization" >
                        <label for="orgnaization">Organization</label>
                        </div>
                </div>

                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="senderId" type="text" formControlName="senderId" >
                        <label for="senderId">Sender Id</label>
                        </div>
                </div>


                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="credits" type="text" formControlName="credits" >
                        <label for="credits">Credits</label>
                        </div>
                </div>
            </div>
      
        <div class="modal-footer">
           <button type="submit" class="btn btn-primary" >Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="addcreditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Credits </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="">
                <div class="col-sm-12">
                    <div class="table_m4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Mobile</th>
                                    <th>Credits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{userData?.username}}</td>
                                    <td>{{userData?.phone}}</td>
                                    <td> {{userData?.total_credits}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                 
                </div>


            



                <div class="col-sm-12 mb-4" >
                    <div class="formInputArea " style="width: 200px;    display: inline-flex; margin-right: 15px;">
                        <input placeholder="credits" type="text" #cr >
                        <label for="credits">Credits</label>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="addCredits(cr.value)" >Add</button>
                </div>
                
            </div>
      
        <!-- <div class="modal-footer">
           <button type="button" class="btn btn-primary" (click)="addCredits(cr.value)" >Save</button>
        </div> -->
      </div>
    </div>
  </div>