<div class="row">

    <div class="col-sm-3">
        <div class="gride_m_2">
            <div class="icon_set bg_c3">
                <img src="assets/images/img/user.png" alt="">
            </div>
            <p>Total Users</p>
            <h3>4500</h3>
            </div>
    </div>


    <div class="col-sm-3">
        <div class="gride_m_2">
            <div class="icon_set bg_c1">
                <img src="assets/images/img/mail.png" alt="">
            </div>
            <p>Total SMS balance<p>
            <h3>1254</h3>
            </div>
    </div>





    <div class="col-sm-3">
        <div class="gride_m_2">
            <div class="icon_set bg_c4">
                <img src="assets/images/img/mail.png" alt="">
            </div>
            <p>SMS submitted</p>
            <h3>1254</h3>
            </div>
    </div>


    <div class="col-sm-3">
        <div class="gride_m_2">
            <div class="icon_set bg_c2">
                <img src="assets/images/img/mail.png" alt="">
            </div>
            <p>SMS Rejected</p>
            <h3>1254</h3>
            </div>
    </div>

    <div class="col-sm-6">
        
<div class="gride_m_1 pad-15">
    <h5>Daily SMS Utilities</h5>
</div>

</div>

</div>




