<!-- page  -->
<div class="page_head1">
    <div class="row">
        <div class="col-md-7">
            <h5>Profile </h5>
          </div>
          <div class="col-md-5 text-right">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a ng-reflect-router-link="/dashboard" href="/dashboard">Home</a>
                      </li><li aria-current="page" class="breadcrumb-item active">Profile
                    </li>
                  </ol></nav></div>
              </div></div>

<div class="gride_m1">

    <div class="row mb-30">
        
      
  <div class="col-sm-2">
    <div class=" imgUp">
        <div class="imagePreview"></div>
    <label class="btn btn-primary">
        Upload Logo <input type="file" class="uploadFile img" (change)="profilePicSelection($event)" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                    </label>
      </div><!-- col-2 -->
  </div>
  <div class="col-sm-10">
     <ul class="list_m5">
         <i class="fa fa-pencil-square-o edit_icon" aria-hidden="true" (click)="updateForm()"></i>
         <li><span>Name</span><span>:{{userData?.name}}</span></li>
         <li><span>Email</span><span>:{{userData?.email}}</span></li>
         <li><span>Mobile</span><span>:{{userData?.phone}}</span></li>
         <li><span>Organization</span><span>:{{userData?.organization}}</span></li>
     </ul>
  </div>

    </div>

</div>
<!-- page -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup] ="updateUserForm" (ngSubmit)="onSubmit(updateUserForm.value)" >

            <div class="">
                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="Name" formControlName="username" type="text" >
                        <label for="name">Name</label>
                        </div>
                </div>
            
                <!-- <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="Name" formControlName="template_name" type="text" >
                        <label for="name">Current Password
                        </label>
                        </div>
                </div>

                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="Name" formControlName="template_name" type="text" >
                        <label for="name">New Password
                        </label>
                        </div>
                </div> -->

                
                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="Name" formControlName="email" type="text" >
                        <label for="name">Email
                        </label>
                        </div>
                </div>


                
                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="Name" formControlName="mobile" type="text" >
                        <label for="name">Mobile
                        </label>
                        </div>
                </div>


                
                <div class="col-sm-12">
                    <div class="formInputArea ">
                        <input placeholder="Name" formControlName="orgnaization" type="text" >
                        <label for="name">Organization

                        </label>
                        </div>
                </div>
              
            </div>
      
        <div class="modal-footer">
           <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>