<!-- page  -->
<div class="page_head1">
    <div class="row">
        <div class="col-md-7">
            <h5>Contacts</h5>
          </div>
          <div class="col-md-5 text-right">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                          <a ng-reflect-router-link="/dashboard" href="/dashboard">Home</a>
                      </li><li aria-current="page" class="breadcrumb-item active">Contacts </li>
                  </ol></nav></div>
              </div></div>

<div class="gride_m1">

    <div class="row mb-30">
        <div class="col-sm-3">
            <!-- <div class="formInputArea ">
                <input placeholder="Search here..." formControlName="Search here..." type="text" >
                <label for="name">Search here...</label>
               
               
            </div> -->
        </div>
        <div class="col-sm-2">
            <button class="btn btn_m2 mt-20" data-toggle="modal" data-target="#exampleModal">Add Contacts</button>
        </div>
    </div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
  <thead>
      <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>

      <tr *ngFor="let cntlst of contactsList; let i=index">
          <td>{{i+1}}</td>
          <td>{{cntlst.contact_name}}</td>
          <td>{{cntlst.contact_phone}}</td>
          <td>{{cntlst.status}}</td>
      </tr>
  </tbody>
 
</table>
</div>
<!-- page -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Contacts </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup] ="addContactForm" (ngSubmit)="onSubmit(addContactForm.value)">
        <div class="modal-body" formArrayName="contacts">
            <div class="row" *ngFor="let addcontcact of addContactForm.get('contacts')['controls']; let i=index"  [formGroupName]="i">
            <div class="col-sm-7">
                <div class="formInputArea ">
                    <input placeholder="Name" formControlName="contact_name" type="text" >
                    <label for="name">Enter Name</label>
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="small_text">
                <div class="formInputArea ">
                    <input placeholder="Mobile" formControlName="contact_phone" type="text" (keypress)="numberOnly($event)" >
                    <label for="name">Enter Mobile</label>
                    </div>
                    <p>(+91 is not required)</p>
                    </div>
            </div>
            <div class="col-sm-1 align-self-center add_row_icon" (click)="addContactButton()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 align-self-center add_row_icon" (click)="remove(i)" >
                <i class="fa fa-minus" aria-hidden="true"></i>
          </div>

        </div>
        </div>
        <div class="modal-footer">
   
          <button type="submit" class="btn btn-primary" >Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>