<!-- page  -->
<div class="page_head1">
    <div class="row">
       <div class="col-md-7">
          <h5>Quick Sms</h5>
       </div>
       <div class="col-md-5 text-right">
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item">
                   <a ng-reflect-router-link="/dashboard" href="/dashboard">Home</a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">Quick Sms </li>
             </ol>
          </nav>
       </div>
    </div>
 </div>
 <div class="gride_m1">
 <div class="row mb-30">

    <div class="col-sm-6">
        <div class="input_m2 ">
           <label for="name">Template</label>
            <select name="" #template (change)="getTemplate(template.value)" id="" class="form-control">
                <option value="">Select Template</option>
                <option *ngFor="let tmplt of approvedTemplates" value="{{tmplt.template}}">{{tmplt.template_name}}</option>
        
            </select>
        </div>
  <br>
        <div class="input_m2 mb-4 ">
            <label for="name">Message</label>
            <textarea placeholder="Enter" rows="6" readonly>{{templateMsg}}</textarea>
            <small>*Don't copy & Paste content from word file or from email
            </small>
         </div>

         <div class="row">
             <div class="col-sm-6"><button class="btn btn_7">Send Message : 15</button></div>
             <div class="col-sm-6 text-right"><button class="btn btn_8 mr-2">Clear</button> </div>
         </div>
     </div>

     <div class="col-sm-4">
        <div class="input_m2 ">
           <label for="name">Search Here</label>
            <input type="text" class="form-control">
        </div>
        <div class="bg_m1">
        <h5 class=" mb-3">List Of Group</h5>
        <ul class="list_m4">
            <li *ngFor="let grp of grouplist"><label for="name"><input type="checkbox" id="name" value="{{grp.id}}" (click)="getGroupInfo(grp.id)">{{grp.group_name}}</label></li>
        </ul>
    </div>
        </div>


        <!-- <div class="col-sm-5">
           
            <div class="bg_m1">
            <h5 class=" mb-3">List Of Contents</h5>
            <ul class="list_m4 list_m4s" style="    max-height: 420px;">
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
                <li><label for="name"><input type="checkbox" id="name"><span class="name">Name</span><span class="ph_number">9666754648</span> </label></li>
            </ul>
        </div>
            </div> -->
   
 </div>
 <!-- page -->